<a href="https://colab.research.google.com/github/adamizhar/Data-Science/blob/main/Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

d = {'bil' : [1, 2, 3, 4, 7, 10, 12, 15, 13], 'harga' : [4, 5, 6, 9, 5, 7, 8, 10, 13], 'quantity' : [7, 8, 12, 1, 11, 14, 13, 16, 18,]}

df = pd.DataFrame(data=d)

print(df)

   bil  harga  quantity
0    1      4         7
1    2      5         8
2    3      6        12
3    4      9         1
4    7      5        11
5   10      7        14
6   12      8        13
7   15     10        16
8   13     13        18

In [ ]:
count_coloum = df.shape[1]
print(count_coloum)

3

In [ ]:
count_row = df.shape[0]
print(count_row)

9

In [ ]:
Average_pulse_max = max(80, 85, 90, 95, 100, 105, 110, 115, 120, 125)
print(Average_pulse_max)

125

In [ ]:
Average_pulse_min = min(80, 85, 90, 95, 100, 105, 110, 115, 120, 125)
print(Average_pulse_min)

80

In [ ]:
import numpy as np

Calories_burnage = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330]

Average_calories_burnage = np.mean(Calories_burnage)

print(float(Average_calories_burnage))

285.0

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bil       9 non-null      int64
 1   harga     9 non-null      int64
 2   quantity  9 non-null      int64
dtypes: int64(3)
memory usage: 344.0 bytes
None

In [ ]:
df.head()

   bil  harga  quantity
0    1      4         7
1    2      5         8
2    3      6        12
3    4      9         1
4    7      5        11

In [ ]:
df.tail()

   bil  harga  quantity
4    7      5        11
5   10      7        14
6   12      8        13
7   15     10        16
8   13     13        18

In [ ]:
#get data from web url
import requests
payload = {"firstName" : "John", "lastName" : "Smith"}
data = requests.get("https://httpbin.org/get", params = payload)

print(data.text)

{
  "args": {
    "firstName": "John",
    "lastName": "Smith"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.27.1",
    "X-Amzn-Trace-Id": "Root=1-64187d91-307853064a211f9f6f190578"
  },
  "origin": "35.221.12.175",
  "url": "https://httpbin.org/get?firstName=John&lastName=Smith"
}

In [ ]:
#post data from url
import requests

payload = {"firstName" : "John", "lastName" : "Smith"}
data = requests.post("https://httpbin.org/post", data = payload)

print(data.text)

{
  "args": {
    "firstName": "John",
    "lastName": "Smith"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.27.1",
    "X-Amzn-Trace-Id": "Root=1-64187d91-307853064a211f9f6f190578"
  },
  "origin": "35.221.12.175",
  "url": "https://httpbin.org/get?firstName=John&lastName=Smith"
}

In [ ]:
#get data from acap
import requests

payload = {"firstName" : "John", "lastName" : "Smith"}
#data = requests.post("https://httpbin.org/post", data = payload)

print(data.text)

{
  "args": {
    "firstName": "John",
    "lastName": "Smith"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.27.1",
    "X-Amzn-Trace-Id": "Root=1-64187d91-307853064a211f9f6f190578"
  },
  "origin": "35.221.12.175",
  "url": "https://httpbin.org/get?firstName=John&lastName=Smith"
}

In [ ]:
from pandas.core.groupby.generic import DataFrameGroupBy
DataFrameGroupBy